<a href="https://colab.research.google.com/github/Psyclophe/python-for-data-analyst/blob/main/Semana1_1_Aps_Financieras5_Basico_Numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/MaxMitre/Aplicaciones-Financieras/blob/main/Semana1/1_PythonBasico_Numpy.ipynb)

Esta sesión servirá para introducir a los estudiantes a Python (de modo breve), así como a las librerias de NumPy y Matplotlib, que serán de las mas utilizadas todo el curso.

# Básico de Python

## Variables

In [1]:
# Creación de variables y tipos
texto = 'Hola mundo' #srt cadenas de texto
enteros = 2
flotantes = 1.34
booleanos = True

In [2]:
print(texto)
print(enteros)
print(flotantes)
print(booleanos)

Hola mundo
2
1.34
True

In [4]:
type(texto)
type(entero)
type(flotante)
type(booleano)

NameError: ignored

**Importante:** Los nombres de las variables son sensibles a mayúsuculas, deben comenzar con una letra de la A a la Z o guión bajo (_) y no pueden ser llamadas igual a las palabras reservadas.

In [5]:
# Ejemplos de sensibilidad a las mayúsculas
Texto = 'Esta variable inicia con una mayúscula'
texto = 'Esta variable no'
TexTO = 'Esta variable tiene mayúsculas al final'

print(Texto)

Esta variable inicia con una mayúscula

In [6]:
# Palabras reservadas (no pueden utilizarse para creación de variables)
import keyword

print(', '.join(keyword.kwlist))

False, None, True, __peg_parser__, and, as, assert, async, await, break, class, continue, def, del, elif, else, except, finally, for, from, global, if, import, in, is, lambda, nonlocal, not, or, pass, raise, return, try, while, with, yield

Algunos errores que podemos encontrar

In [7]:
# Ejemplos de nombres inválidos
# No inician con letras o guion bajo
3var = 3 
.var = 3 #invalid sintax es porque no se escribio correcamente el comando

SyntaxError: ignored

In [8]:
# No pueden usarse palabras reservadas
async = 3

SyntaxError: ignored

In [9]:
texto_mayus = 'hola'

texto_mayus

'hola'

# Cadenas

¿Comillas dobles o sencillas para crear cadenas? Ambas

In [10]:
cadena1 = 'algo'
cadena2 = "algo"

In [11]:
print(cadena1)
print(cadena2)

algo
algo

Podemos sumar y multiplicar cadenas

In [12]:
cadena3 = "alguna cosa"
print(cadena1 + cadena3) #concatenar
print(cadena3*3)

algoalguna cosa
alguna cosaalguna cosaalguna cosa

Cambios para cadenas de caracteres

In [13]:
texto

'Esta variable no'

In [15]:
#Funcion
print ('lo que voy a imprimir')

lo que voy a imprimir

In [14]:
#MEtodo
texto.lower()

'esta variable no'

In [ ]:
texto.upper()

In [ ]:
texto.title()

Podemos separar nuestra cadena dado un patrón

In [16]:
texto = 'Esta, cadena, la, separaré, por, comas'
texto.split(', ') #Metodo nos pemrite tener una lista

['Esta', 'cadena', 'la', 'separaré', 'por', 'comas']

In [17]:
print(texto)
# Método muy importante
print(texto.replace('a', 'Z')) #metodo y funcion

Esta, cadena, la, separaré, por, comas
EstZ, cZdenZ, lZ, sepZrZré, por, comZs

In [18]:
texto

'Esta, cadena, la, separaré, por, comas'

## Operaciones con variables numéricas

In [19]:
# Defino mis variables
a = 5
b = 2

In [20]:
# Suma
print(f'Suma: {a + b}') #lo que esta dentro de los corchetes es una variable
# Resta
print(f'Resta: {a - b}')
#Multiplicación
print(f'Multiplicación: {a * b}')
# División
print(f'División: {a / b}')
# Parte entera de la división
print(f'Parte entera de división: {a // b}')
# División modular
print(f'Residuo: {a % b}')

Suma: 7
Resta: 3
Multiplicación: 10
División: 2.5
Parte entera de división: 2
Residuo: 1

In [21]:
#otros formatos de impresion
print('Suma: ' + str(a+b))
print('Suma: {}'.format(a+b))

Suma: 7
Suma: 7

In [22]:
# Potencias se crean con dos *
2**3

8

## Listas

In [23]:
lista_vacia = [] #lista se define con corchetes
lista_vacia

[]

In [24]:
tiempos_traslado = [3, 34, 23, 12, 3, 4]
tiempos_traslado

[3, 34, 23, 12, 3, 4]

In [25]:
lista_mixta = ["Juan", 23, 54.2, 23, False, 'Avión']
lista_mixta

['Juan', 23, 54.2, 23, False, 'Avión']

In [ ]:
# Crear rangos (podemos iterar sobre ellos)
range(10)

In [ ]:
sucesion = list(range(10))
sucesion

Podemos localizar elementos de las listas con sus índices (Slicing)

In [ ]:
# Busqueda de elemento de adelante hacia atras
lista_mixta[3]

In [ ]:
# Busqueda de elemento de atras hacia adelante
lista_mixta[-1]

In [ ]:
sucesion[1:5]

In [ ]:
# Todos los pares considerando al cero
sucesion[2:8:2]

In [ ]:
print(lista_mixta)
lista_mixta.index(23)

Concatenar listas

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]

a + b

Agregar (apendizar) elementos a una lista

In [ ]:
listita = [1, 4, 5, 8]
listita.append(9)
listita

Ordenar listas

In [ ]:
lista = [4,2,5,7,3,8]
lista.sort()
lista

In [ ]:
lista = [4,2,5,7,3,8]
lista.sort(reverse = True)
lista

## Texto como lista de caracteres

In [ ]:
print(texto)
texto[2]

## Conjuntos

In [ ]:
{1, 2, 2, 3, 4}

In [ ]:
set(['a', 'b', 't', 'c', 't'])

Funciones de transformacion

In [ ]:
list()
set()
int()
float()
str()
bool()

String vs Entero

In [ ]:
'6' + '6'

In [ ]:
int('6') + int('6')

## Diccionarios (de los elementos mas importantes)

In [ ]:
datos = {
    "nombre": "Manuel Pérez", 
    "carrera": 'Veterinaria', 
    "sueldo": 30000, 
    "es_casado": False, 
    "hijos": [
              {"nombre": "Juan Pérez", "edad": 5}, 
              {"nombre": "María Pérez", "edad": 3}
              ]
}


datos

In [ ]:
# Acceder a datis dentro de un diccionario
datos['hijos']

In [ ]:
# Primer paso, acceder a la lista que contiene los hijos
# segundo paso, acceder al segundo elemento de esa lista (posicion 1)
# tercer paso, acceder al valor del nombre del hijo
datos['hijos']
datos['hijos'][1]
datos['hijos'][1]['nombre']

In [ ]:
# ¿Cuántos hijos tiene?
print(type(datos['hijos']))
len(datos['hijos'])

In [ ]:
datos.keys()

In [ ]:
datos.values()

In [ ]:
contactos = [
             {
                 "nombre": "A", 
                "telefono": 2121
             }, {
                 "nombre": "B", 
                 "email": 'email@asdf.c'
             }
]

In [ ]:
len(contactos)

In [ ]:
# Funcion para ver el tipo de dato
type(contactos)

In [ ]:
dictio = {
                 "nombre": "A", 
                "telefono": 2121
             }

In [ ]:
dictio['edad'] = 23

In [ ]:
dictio

In [ ]:
dictio['edad'] = [23,24,25,26,27]

In [ ]:
dictio

## Booleanos (Verdadero o Falso, para verificaciones)

In [ ]:
mi_primer_booleano = False
mi_primer_booleano

In [ ]:
# Revisar si valores son iguales
3 == 4

In [ ]:
cadena = 'El cazo'
cadena == 'sarten'

In [ ]:
cadena == 'El cazo'

In [ ]:
cadena == 'el cazo'

In [ ]:
n = 3

In [ ]:
print(n)

In [ ]:
# Un número es mayor a otros
print(n > 3)
print(n <= 3)
print(n == 3) 
print(n != 3)

In [ ]:
type('asdfas') is str

In [ ]:
not 3 > 3

In [ ]:
# Revisa si un elemento no está en la lista
10 not in sucesion

Comparando **float** con **int**:

In [ ]:
m = 2
n = 2.00000000000000000000000000000001

print(type(m))
print(type(n))

In [ ]:
# ¿Cual será el valor de esta comparación?
m == n

¿Y con comillas y dobles comillas?

In [ ]:
'algo' == "algo"

# Estructuras de control

## Condicionales "If", "Elif" y "Else"

In [ ]:
n = 'algo'
if type(n) is int:
  print('n es un entero')
  print('Esta otra linea')
  print('Una más')
else:
    print('n no es entero')

In [ ]:
n = 7
if n == 7:
    print("n es 7")
elif n > 90:
    print('n es mayor a 90')
elif n < 2:
    print("n es menor a 2")
else:
    print('ninguna de las condiciones anteriores se cumplió')

### While

El while se ejecuta hasta que se cumple una condición.

Es importante notar que el ciclo **puede ejecutarse infinitamente** si la condición nunca se cumple.

In [ ]:
i = 0
while i < 10:
    i += 1 # i = i + 1
    print(i)

In [ ]:
# Secuencia de fibonacci
a, b = 0, 1          

secuencia = []

while a < 1000:
  secuencia.append(a)
  a, b = b, a + b

secuencia

### For

Ejecuta el ciclo para cada elemento en un iterable

In [ ]:
for i in range(10):
    print(i + 2)

In [ ]:
lista = ['Juan', 'María', 'Max', 'Alfonso']

In [ ]:
for persona in lista:
  print(persona + ' está comiendo')

In [ ]:
texto = 'algo escrito'

for i in texto:
  print(i)

## Listas por comprension

In [ ]:
print(lista)

# crea sólo una copia de la lista
nueva_lista = [persona + ' comió algo' for persona in lista]
nueva_lista

In [ ]:
import math

In [ ]:
promedios = [5.9, 6.7, 8.2, 10, 3, 0]
[math.ceil(calificacion) if calificacion > 6 and calificacion % 1 > .3 else math.floor(calificacion) for calificacion in promedios]

In [ ]:
# El código anterior equivale a lo siguiente
nuevos_promedios = []
for x in promedios:
    if x > 6 and x % 1 > .3:
        nuevos_promedios.append(math.ceil(x))
    else:
        nuevos_promedios.append(math.floor(x))
nuevos_promedios

## Control de ciclos

In [ ]:
# BREAK
j = 1
while True:
    j *= 10 # j = j*10
    print(j)
    if j > 1000:
        break

In [ ]:
# CONTINUE
for j in range(10):
    if 4 < j < 7:
        print(f'omitiendo')
        continue
    print(j)

# NumPy (libreria para operaciones matemáticas)

## Creación de Arrays (arreglos)

Modos de hacer importacion (no ejecutar)

In [ ]:
# NO EJECUTAR

from numpy import sum    # sum()

import numpy     # numpy.sum()

import numpy as np     # np.sum()

from numpy import *      # sum(), mean()

In [ ]:
import numpy as np

In [ ]:
arr = np.array(range(10))
arr

In [ ]:
vista = arr[:3]
vista

In [ ]:
vista[:] = 0
vista

In [ ]:
arr

In [ ]:
copia = arr[:5].copy()
copia

In [ ]:
x = np.array([1,3,2,2,5,5,5])

In [ ]:
# Suma de los elementos de x
np.sum(x)

In [ ]:
# Media
np.mean(x)

In [ ]:
# Mediana
np.median(x)

In [ ]:
# Varianza
np.var(x)

In [ ]:
# Desviación estándar
np.std(x)

In [ ]:
my_array = np.array([1, 3, 4])

In [ ]:
my_array

In [ ]:
my_array + my_array

In [ ]:
my_array*3

In [ ]:
np.dot(my_array,my_array)

## Arreglos 2-dimensionales (matrices)

In [ ]:
my_matrix = np.array([[1, 2, 3], [3, 4, 5], [6, 7, 8], [9, 10, 11]])
my_matrix

In [ ]:
my_array[1]

In [ ]:
my_matrix.reshape((2, 6))

In [ ]:
my_matrix.shape

In [ ]:
# Crear arreglos de ceros
np.zeros((10, 10))

In [ ]:
img_ex = np.zeros((3, 5, 5))
print(type(img_ex))
img_ex

In [ ]:
# Creación de números aleatorios
np.random.randint(0, 100, (5, 5))

In [ ]:
np.random.seed(10)

In [ ]:
np.random.randint(0,10)

In [ ]:
A = np.random.randint(0, 100, (5, 5))
A

In [ ]:
# producto punto
x = np.array([1, 2, 3])
y = np.array([4, 5, 6])

np.dot(x, y)

In [ ]:
# Producto de matrices
A = np.random.randint(0, 2, (3, 2))
B = np.random.randint(0, 2, (2, 3))

In [ ]:
print(A)
print(B)

In [ ]:
Multiplicacion = np.dot(A,B)
Multiplicacion

In [ ]:
otra = np.dot(B,A)
otra

In [ ]:
# invertir matriz
C = np.array([[2,1],[1,0]])

Ainv = np.linalg.inv(C)
Ainv

# Funciones

Para definir las funciones seguimos la sintaxis

```python
def <nombre de la funcion>((parametros)):
    <bloque de codigo>
    (opcional) return <valor a regresar>
```

El nombre de la función sigue las mismas reglas que el nombre de las variables.

Para regresar un valor de nuestra función existen dos palabras reservada ```return``` y ```yield```. La primera termina la ejecución de la función cuando la encuentra y puede estar en cualquier parte de esta, incluso puede haber varios returns en distintas partes de la función. La segunda, ```yield``` convierte a la función en un iterable. A grandes rasgos, lo que hace es pausar la ejecución de la función hasta que se le pida el siguiente valor.

In [ ]:
def hola(nombre):
    print(f'Hola {nombre}')

In [ ]:
hola('Max')

In [ ]:
def hola(nombre, param):
    print(nombre*param)

In [ ]:
hola('Javier', 3)

In [ ]:
def hola2(nombre, saludo = 'Hola'):
    print(f'{saludo} {nombre}')

In [ ]:
hola2('Javier')

In [ ]:
def imprime_numeros(n = 10, para = None):
    for i in range(n):
        if i == para:
            return 'nos detuvimos'
        print(i)
    
    return 'terminamos'

In [ ]:
algo = imprime_numeros()

In [ ]:
algo

In [ ]:
# Recursividad
def factorial(n):
    if n == 0:
        return 1
    return n*factorial(n-1)

In [ ]:
valor_obtenido = factorial(4)

In [ ]:
valor_obtenido

In [ ]:
def suma_rara(valor1, valor2=2):
  valor = valor1 + 2*valor2
  return valor, valor-1

In [ ]:
valores, valores_1 = suma_rara(3)

In [ ]:
valores

In [ ]:
valores_1

## Visualización de datos

Para visualizar datos podemos ocupar el módulo ```matplotlib```. Cabe notar que no es el único módulo para gráficar, pero sí el más fácil de usar. Otro módulo muy usado es [```plotly```](https://plotly.com/python/) que puede crear gráficos interactivos

In [ ]:
import matplotlib.pyplot as plt
np.random.seed(15)

## Histograma

In [ ]:
datos = np.random.normal(size = 400)
datos

In [ ]:
plt.hist(datos)

## Gráfica de dispersión

In [ ]:
# Generamos 200 números aleatorios de 0 a 1, los escalamos para que lleguen de 0 a 10 y luego los trasladamos para que queden entre -5 y 5
x = np.random.rand(200) * 10 - 5
# Hacemos que y igual a x al cubo y agregamos algo de ruido blanco gaussiano
y = x**3 + np.random.normal(0, 20, 200)

plt.scatter(x, y)

In [ ]:
x

In [ ]:
# Se ocupa la variable y para asignale color a los datos
plt.scatter(x, y, c = y)

In [ ]:
# Se elige otra paleta de colores
plt.scatter(x, y, c = y, cmap = 'plasma')

## Lineas

In [ ]:
# Generamos datos
x = np.linspace(0, 10, 100)
y = x + 1/3*np.sin(x * 2) - np.cos(x) - 1/7 * np.sin(np.sqrt(x)) + np.random.normal(0, 2, 100)

plt.figure(figsize=(10, 5))
plt.plot(x, y)
plt.title('Gráfica con datos simulados')
plt.xlabel('Tiempo')
plt.ylabel('Precio')

In [ ]:
y

# Ejercicios

## 1. Crear un condicional que imprima si un número es par o impar

Definir una variable con un número antes del if

**Pista**: un número es par si módulo 2 es igual a cero

In [ ]:
print(3 % 2)
4 % 2

## 2. Crear un ciclo que imprima todos los números de 1 a n

definir n como variable y utilizarla para el ciclo

## 3. Crear un ciclo que imprima todos los números pares del uno al n

## 4. Crear un ciclo que imprima todos los números impares de 5 a n para n > 5

Revisar que n sea mayor a 5 antes de entrar al ciclo, si no lo es, imprimir "n debe ser mayor a 5"

## 5. Con un ciclo, crear la siguiente lista: 1, 4, 9, 16, 25, 36 con el método ".append()"

## 6. Hacer el ejercicio anterior con list comprehension

## 7. Imprimir, linea por linea, el siguiente patrón 3 veces con un ciclo y el operador módulo

a \\
aa \\
aaa \\
aaaa \\
a \\
aa \\
aaa \\
aaaa \\


**Pista**: Ocupar la siguiente propiedad de las cadenas

In [ ]:
"a" * 5

## 8. Crear una lista sólo con los elementos mayores a n de la siguiente lista.

1, 34, 2, 4, 6, 8, 5, 7, 345, 23

Con n una variable

```python
n = 23

<bloque del codigo>
```

## 9. Crear un ciclo que imprima todos los múltiplos de m hasta n

E.g. para m = 2 y n = 6 la salida debería ser

2 \\
4 \\
6 \\
8 \\
10 \\
12

## 10. Ejercicios un poco más complicados

- https://www.codechef.com/problems/EID

[1, 2, 4, 56, 6, 5, 4, 56, 6]

la diferencia minima entre dos elementos distintos de la lista


- https://www.codechef.com/problems/CHEGLOVE

```python
listaA = [7, 2, 3] # Mano
listaB = [4, 5, 6] # Guante

len(listaA) == len(listaB) # True

# Si los elementos de a son menores a los elementos de b element-wise, entonces imprimir
print('Queda bien')
# Si no, "voltear el guante" y hacer la misma verificacion
print('Se volteo y todo bien')

# Si aun no queda bien
print('NO le quedo el guante')

```
- https://www.codechef.com/problems/SEGM01

```python
cadena = '000011100111'
# Si todos los 1's forman un bloque
print(True)
# Si no, i.e. hay un cero en medio
print(False)

```

- https://www.codechef.com/problems/HOWMANY

```python
n = 5454

<bloque de código>
>> 4
```

```python
str(n) #5454
```
- https://www.codechef.com/problems/SINS

```python
m = 11
b = 5

m, b
11, 5
6, 5
1, 5
1, 4
1, 3
1, 2
1, 1

# La salida del programa
print(m + b)
```

# 11. Creación de las siguientes funciones

 - Crear una función para calcular la media (promedio) de una lista

- Otra para la varianza

Los ejercicios 1, 2, 3, 7, 8, 9, convertirlos en funciones

# Ligas últiles

- [operadores](https://www.w3schools.com/python/python_operators.asp)
- [list comprehension](https://www.w3schools.com/python/python_lists_comprehension.asp)

Extra: Comparativos no mencionados atras

In [ ]:
True or False

In [ ]:
False or False

In [ ]:
True and False

In [ ]:
(True | False) & True

In [ ]:
True & True

In [ ]:
try:
  print(algo2)
except:
  print('no existe la variable')

In [ ]:
print(algo2)